.full-width {
  width: 100%;
}
.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.spacer {
  flex-grow: 1;
}
.horizontal-scroll {
  position:relative;
  width:100%;
  overflow:auto;
}
.horizontal-scroll > * {
  position:absolute;
}
.center {
  text-align:center;
  padding: 10px;
}
/*
.header, .footer {overflow:hidden;position:fixed;}
.center-content {
  overflow: auto;
}*/
/*
>::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
  justify-content: left !important;
  background-color: red;
}*/
